
#front-page{
  display: flex;
  flex-direction: column;
  min-height: 1080px;
}


.pushable > .ui.fixed.menu {
  padding-left: 260px;
}

.pushable > .ui.main.container {
  padding-left: 160px;
  padding-top: 40px;
}
