#front-page{
  display: flex;
  flex-direction: row;
  min-height: 1080px;
}

.pushable > .ui.fixed.menu {
  padding-left: 260px;
}

.pushable > .ui.main.container {
  padding-left: 160px;
  padding-top: 40px;
}