{% extends 'songshare/index.html' %}

{% block content %}
<div class="pushable">
	<div class="ui left vertical inverted visible sidebar labeled icon menu overlay" id="sidebar">
		<a class="item" href="{% url 'home' %}" id="id_nav_home_page">
			<i class="home icon"></i> Home 
		</a>
		<a class="item" href="{% url 'dj-search' %}" id="id_nav_dj_search"> 
			Search Streams 
		</a>
		<a class="item" href="{% url 'profile-create' %}" id="id_nav_profile"> 
			Your Profile 
		</a>
		{% if c_user.is_dj and c_user.is_live %}
		<a class="item" href="{% url 'dj-stream' c_user.id %}" id="id_nav_profile"> 
			Your Stream 
		</a>
		{% endif %}
		{% if c_user.is_dj == True and not c_user.is_live %}
		<a class="item" onclick="openModal('create-stream')" id="id_nav_create_stream">
			Start Stream
		</a>
		{% endif %}
		<a class="item" href="{% url 'logout' %}" id="id_nav_logout"> 
			Sign-out 
		</a>
	</div>
	<div class="ui main fluid container pusher" id="front-page">
		<div id="register-side">
			<h1 class="ui header">
				<span id="id_name_of_site" style="color:gray;font-size:xx-large;text-align:right;">
					Song Share
				</span>
			</h1>
			{% block under-title-content %}
			{% endblock %}
		</div>
		{% block mainpage %}
			{% if stream_creation_form %}
				{% if spotify_registration_form.errors %}
					{% for field in spotify_registration_form %}
						{% for error in field.errors %}
						<div class="ui error message">
							<i class="close icon" onclick="closeError()"></i>
							{{error}}
						</div>
						{% endfor %}
					{% endfor %}
				{% endif %}
			{% endif %}
		{% endblock %}
	</div>
  </div>

<div class="ui modal create-stream">
	<i class="close icon"></i>
	<div class="header">
		Start your Stream
	</div>
	<div class="register content">
		<div class="description">
		<div class="ui header">Simply choose a new name for your stream!</div>
		<p></p>
		</div>
		<form class="ui form" method="POST" action="{% url 'create-stream' %}">
			<div class="six wide field">
				{{stream_creation_form.stream_name.label_tag}}
				<div class="ui eight wide input">
					{{stream_creation_form.stream_name}}
				</div>
			</div>
			<button class="ui positive right labeled icon button" type="submit">Create Stream
				<i class="checkmark icon"></i>
			</button>
			{% csrf_token %}
		</form>
	</div>
</div>
{% endblock %}



