{% extends 'songshare/default_sidebar.html' %}

{% block mainpage %}
<div class="main ui container">
	<h2 class="ui dividing header">
	  <span id="id_name_of_page" style="color:black;text-align:center;"> Profile Page for {{name}}
	  </span>
	  <br>
	</h2>
	<div class="ui three column grid" id="id-profile">
	  <div class="row">
		  <div class="four wide column">
			{% if profile.picture %}
			<div class="small circular ui image"><img src="{% url 'photo' profile.id %}" alt="{{profile.text}}"
				id="id_profile_picture"></div>
			{% else %}
			<div class="small circular ui image"><img src="../../static/songshare/default.webp" id="id_user_picture"></div>
			{% endif %}
		  </div>
		<div class="six wide column">
			<div class="ui segment">
				<div class="field">
					<div class="ui header">Bio</div>
					<div class="ui input">
						<textarea  type="text" name="bio" required id="id_bio" value="{{profile.bio}}" readonly></textarea>
					</div>
				</div>
				<br>
				<div class="field">
					<form class="ui form" enctype="multipart/form-data" method="post" action="{% url 'follow' profile.id %}" class="add-form">
						{% csrf_token %}
						{% if following == True %}
						<button class="ui blue button">
							Unfollow
						</button>
						{% else %}
						<button class="ui orange button">
							Follow
						</button>
						{% endif %}
					</form>
				</div>
			</div>
		</div>	
	</div>
	</div>
  </div>
{% endblock %}

