{% extends 'songshare/default_sidebar.html' %}

{% block mainpage %}
<div class="main ui container">
      
	<h2 class="ui dividing header">
	  <span id="id_name_of_page" style="color:black;text-align:center;"> Profile Page for {{name}}
	  </span>
	  <br>
	  <div class="ui small image">
		{% if profile.picture %}
		  <img src="{% url 'photo' profile.id %}" alt="{{profile.text}}" width="100px" id="id_profile_picture">
		{% else %}
		<img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png"  style="height: 64px; width: 64px;">

		{% endif %}
	  </div>
	</h2>
	<div class="ui three column grid" id="id-profile">
	  
	  <div class="row">
		<div class="column">
			<div class="ui segment">
				<div class="field">
					<label for="id_bio"> Bio: </label>
					<div class="ui input">
						<input  type="text" name="bio" required id="id_bio" value="{{profile.bio}}" readonly>
				
					</div>
				</div>
				<br>
				<div class="field">
					<form class="ui form" enctype="multipart/form-data" method="post" action="{% url 'follow' profile.id %}" class="add-form">
						{% csrf_token %}
						{% if following == True %}
						<button class="ui blue button">
							Unfollow
						</button>
						{% else %}
						<button class="ui orange button">
							Follow
						</button>
						{% endif %}
					</form>
				</div>

			
			</div>
		</div>	
	  </div>
	  {% if profile.is_live == True %}
	  <div class="row">
		<div class="column">
			<div class="ui segment">
				<div class="field">
					{% if c_user in stream.listeners.all %}
					<a class="fluid positive ui button" href="{% url 'dj-stream' profile.id %}">
						<i class="spotify icon"></i>
						Go To Stream
					</a>
					{% else %}
					<form method="POST" action="{% url 'join-stream' profile.id %}">
						<button class="fluid positive ui button">
							<i class="spotify icon"></i>
							Join Stream
						</button>
						{% csrf_token %}
					</form>
					{% endif %}
				</div>
			</div>
		</div>
	  </div>
	  {% endif %}
	</div>
  </div>
  

{% endblock %}

