{% extends "default_sidebar.html" %}

{% block stream %}
	<span id="id_name_of_page" style="color:black:;text-align:center:"> Your Stream </span>
	<br>
	<span id="id_now_playing"> Now Playing </span>
	<!-- can be changed to css -->
	{% if streamOn %}
		<form action="{% url 'stream-off' dj.id %}"  method="post">
			{% csrf_token %}
			<button id="id_stream_off_button"> Stream Off</button>
		</form>
	{% else %}
		<form action="{% url 'stream-on' dj.id %}"  method="post">
			{% csrf_token %}
			<button id="id_stream_on_button"> Stream On </button>
		</form>
	{% endif %}

	<form action="{% url 'clear-stream' dj.id %}"  method="post">
		{% csrf_token %}
		<button id="id_new_stream_button"> New Stream</button>
	</form>


	<!-- We need to preserve the current Queue -->
	<button id="id_add_song"> <a href="{% url 'song-search' dj.id %}"> Add Song </a> </button> 




	<script></script>
<!-- 	<img src="{url 'photo' song.id }"> -->

	<script >getStreamSongs()</script>
	<span id="id_next_up_songs">
	<table id="listener_stream_songs">
	</table>

{% endblock %}