{% extends 'songshare/default_sidebar.html' %}

{% block mainpage %}
<div class="main ui container">
      
    <h2 class="ui dividing header">
        <span id="id_name_of_page" style="color:black;text-align:center;"> Search for Stream by Stream name, DJ name, or DJ username

    </h2>
    <div class="ui three column grid" id="id-profile">
        <div class="row">
            <div class="column">
                <div class="ui category search">
                    <form method="post" action="{% url 'dj-search' %}">
                    <div class="ui input">
                        <input class="prompt" id="id_dj_search" type="text" name="search" placeholder="Search DJs..." value="{{search}}">
                    </div>    
                    <button class="ui icon submit button" id="id_dj_search_button">
                        <i class="search icon"></i>
                    </button>
                    {% csrf_token %}
                    </form>
                    <div class="results" id="id_dj_search_results">
                    
                    </div>
                </div>
            </div>
        </div>
        {% if streams %}
        <div class="row">
            <div class="ui header">Streams</div>
        </div>
        {% endif %}
        <div class="row">
        {% for stream in streams %}
            <div class="four wide column">
                <div class="ui card">
                    <div class="content">
                        <span class="header" href="#"> {{stream.name}} :
                            DJ {{stream.dj.user.username}}</span>
                        {% if stream.dj.picture %}
                        <img src="{% url 'photo' stream.dj.id %}"  style="height: 64px; width: 64px;">
                        {% else %}
                        <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png"  style="height: 64px; width: 64px;">
                        {% endif %}
                        <br><br>
                        <div class="meta">
                        {% if stream.is_streaming == True %}
                            <div class="meta">
                            <i class="circle red icon" id="id_is_live_{{stream.dj.id}}"></i>
                            <span> <a href="{% url 'profile-view' stream.dj.id %}">DJ {{stream.dj.name}}</a></span>
                            </div>
                        {% else %}
                        <div class="meta">
                            <i class="circle outline icon" id="id_is_not_live_{{dj.id}}"></i>
                            <a href="{% url 'profile-view' stream.dj.id %}">
                                {{stream.dj.name}}
                            </a> 
                        </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
                       
            </div>
        {% endfor %}
        </div>
        {% if djs %}
        <div class="row">
            <div class="ui header"> DJs </div>
        </div>
        {% endif %}
        <div class="row">
            {% for dj in djs %}
            <div class="four wide column">
                <div class="ui card">
                    <div class="content">
                        <span class="header" href="#">DJ {{dj.user.username}}</span>
                        {% if dj.picture %}
                        <img src="{% url 'photo' dj.id %}"  style="height: 64px; width: 64px;">
                        {% else %}
                        <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png"  style="height: 64px; width: 64px;">
                        {% endif %}
                        <br><br>
                        <div class="meta">
                        {% if dj.is_live == True %}
                            <div class="meta">
                            <i class="circle red icon" id="id_is_live_{{dj.id}}"></i>
                            <span> <a href="{% url 'profile-view' dj.id %}">DJ {{dj.name}}</a></span>
                            </div>
                        {% else %}
                        <div class="meta">
                            <i class="circle outline icon" id="id_is_not_live_{{dj.id}}"></i>
                            <a href="{% url 'profile-view' dj.id %}">
                                {{dj.fname}} {{dj.lname}} 
                            </a> 
                        </div>
                        {% endif %}
                    </div>
                </div>
                    
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<!-- Refresh to check for status -->
        <!-- <script>getDJs()</script>
        <table id="dj_search">
        </table> -->


<!-- 	{% for song in songs %}

		<img src="{% url 'photo' song.id %}" id="id_song_image" >
			<br>
			<label > {{song.name}}</label>
			{% csrf_token %}
		<button id="id_song_add_button"></button>
	{% endfor %} -->
{% endblock %}