{% extends 'songshare/index.html' %}

{% block content %}


    <div class="ui centered grid">
        <div class="one column centered row" id="login-header">
            <div class="ui huge header">
                <span id="id_name_of_site" style="color:gray;">Song Share</span>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui placeholder segment">
                <div class="ui one column very relaxed stackable grid">
                    <div class="column center aligned">
                        <div class="ui huge header" id="login-text">Login</div>
                    </div>
                    <div class="column">
                        <form class="ui form">
                            <div class="field" method="POST" action="{% url 'register' %}">
                                <label>Username</label>
                                <div class="ui left icon input">
                                    <input type="text" placeholder="Username">
                                    <i class="user icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <label>Password</label>
                                <div class="ui left icon input">
                                    <input type="password">
                                    <i class="lock icon"></i>
                                </div>
                            </div>
                            <div class="ui blue submit button">Login</div>
                        </form>
                    </div>
                    <div class="middle aligned column">
                        <div class="ui horizontal divider">Or</div>
                    </div>
                    <div class="middle aligned column" id="register-button">
                        <div class="ui message">
                            <i class="signup icon"></i>
                            New to us? <a href="{% url 'register' %}"> Sign Up </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
