{% extends 'songshare/index.html' %}

{% block content %}


    <div class="ui centered grid">
        <div class="one column centered row">
            <div class="ui huge header">    
                <span id="id_name_of_site" style="color:gray;">Song Share</span>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui placeholder segment">
                <div class="ui one column very relaxed stackable grid">
                    <div class="column center aligned">
                        <div class="ui huge header" id="register-text">Register</div>
                    </div>
                    <div class="column">
                        <form class="ui form" method="POST" action="{% url 'register' %}">
                            <div class="field">
                                {{form.fname.label_tag}}
                                <div class="ui input">
                                    <!-- <input type="password"> -->
                                    {{form.fname}}
                                    
                                </div>
                            </div>
                            <div class="field">
                                {{form.lname.label_tag}}
                                <div class="ui input">
                                    <!-- <input type="password"> -->
                                    {{form.lname}}
                                    
                                </div>
                            </div>
                            <div class="field">
                                {{form.email.label_tag}}
                                <div class="ui left icon input">
                                    <!-- <input type="text" placeholder="Email"> -->
                                    {{form.email}}
                                    <i class="envelope icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                {{form.username.label_tag}}
                                <div class="ui left icon input">
                                    <!-- <input type="text" placeholder="Username"> -->
                                    {{form.username}}
                                    <i class="user icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                {{form.password.label_tag}}
                                <div class="ui left icon input">
                                    <!-- <input type="password"> -->
                                    {{form.password}}
                                    <i class="lock icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                {{form.confirm_password.label_tag}}
                                <div class="ui left icon input">
                                    <!-- <input type="password"> -->
                                    {{form.confirm_password}}
                                    <i class="lock icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                {{form.spotify_email.label_tag}}
                                <div class="ui left icon input">
                                    {{form.spotify_email}}
                                    <i class="spotify icon"></i>
                                </div>
                            </div>
                            {% csrf_token %}
                            <button class="ui blue submit button" type="submit" id="id_register_button">Register</button>
                        </form>
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                <div class="ui error message">
                                    <i class="close icon" onclick="closeError()"></i>
                                    {{error}}
                                </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        {% for error in form.non_field_errors %}
                        <div class="ui error message">
                            <i class="close icon" onclick="closeError()"></i>
                            {{error}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="middle aligned column">
                        <div class="ui horizontal divider">Or</div>
                    </div>
                    <div class="middle aligned column" id="login-button">
                        <div class="ui message">
                            Already have an account?
                            <a href="{% url 'login'%}"> Login </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
