{% extends 'songshare/default_sidebar.html' %}

{% block under-title-content %}
<h2 class="ui dividing header">
	<span id="id_name_of_page" style="color:black;text-align:center;"> Now Playing </span>
	<br>
</h2>
<div class="ui card">
	<div class="ui image">
	  <img src={{currently_playing.album_image_urls.1.url}} class="visible content">
	</div>
	<div class="content">
	  <div class="header">{{currently_playing.song_title}}</div>
	  <div class="meta">
		<span>{{currently_playing.album}}</span>
		<br>
		<span>{{currently_playing.artist}}</span>
	  </div>
	</div>
  </div>
{% endblock %}

{% block mainpage %}
<div class="main ui container">
	<h2 class="ui header">
		<span id="id_name_of_page" style="color:black;"> {{stream.name}} 
			<div class="sub header">
				Hosted by <a href="{% url 'profile-view' stream.dj.id %}">DJ {{c_user.user.username}}</a>
			</div>
		</span>
	</h2>
	<br>
	<div class="ui three column grid">
		<div class="row">
			<div class="column content">
				<h2 class="ui dividing header">
					<span id="id_name_of_page" style="color:black;text-align:center;"> Recently Played </span>
					<br>
				</h2>
				{% for track in recently_played %}
				<div class="ui segment">
					<div style="display: flex;flex-direction: row;">
						<div class="ui small image">
							<img src={{track.track.album.images.2.url}}>
						</div>
						<div class="segment left aligned" style="align-items: flex-end;">
							<div class="ui header">
								{{track.track.name}}
								<div class="sub header">{{track.track.album.name}}
									<br>
									{{track.track.artists.0.name}}
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

			{% if not is_stream_dj %}
			<div class="column">
				<h2 class="ui dividing header">
						<span id="id_name_of_page" style="color:black;text-align:center;"> Requested Songs </span>
						<br>
					</h2>
			</div>
			{% else %}
			<div class="ten wide column">
				<h2 class="ui dividing header">
						<span id="id_name_of_page" style="color:black;text-align:center;"> Requested Songs </span>
						<br>
					</h2>
			</div>
			{% endif %}

			{% if not is_stream_dj %}
			<div class="column">
				<h2 class="ui dividing header">
					<span id="id_name_of_page" style="color:black;text-align:center;"> Song Search </span>
					<br>
				</h2>
				<div class="ui category search">
					<div class="ui input">
						<input class="prompt" type="text" placeholder="Search for songs" id="song_search_input">
					</div>
					<button class="circular ui button" onclick="search_for_song()"><i class="search icon"></i></button>
					<button class="circular ui button" onclick="clear_search()"><i class="close icon"></i></button>
				</div>
				<br>
				<div class="ui cards scrolling content" id="searched_songs_container"></div>
			</div>
			{% else %}
			{% endif %}
		</div>
	</div>
</div>

<!-- <script >getStreamSongs()</script>
<span id="id_next_up_songs">
<table id="listener_stream_songs"></table> -->
{% endblock %}
