{% extends 'songshare/default_sidebar.html' %}
<!-- This is after login -->
{% block under-title-content %}
{% load static %}
<script src="{% static 'songshare/user_home.js' %}" type="text/javascript"></script>
	{% if c_user.is_dj == False %}
		<div class="ui cards">
			<div class="card">
				<div class="content">
					<div class="header">New to Song Share and want to be a DJ?</div>
					<div class="description">
						<p>
							Song Share uses your Spotify account to make live changes to your 
							playback queue.
						</p>
						<p>
							Simply ensure you have spotify premium and use your 
							email to register.
						</p>
					</div>
				</div>
				<div class="ui bottom attached button" onclick="openModal('register-spotify')">
					<div class="" style="color: #1DB954;">
						<i class="spotify icon"></i>
						Register with Spotify
					</div>
				</div>
			</div>
		</div>
		
		{% if spotify_registration_form.errors %}
			{% for field in spotify_registration_form %}
				{% for error in field.errors %}
				<div class="ui error message">
					<i class="close icon" onclick="closeError()"></i>
					{{error}}
				</div>
				{% endfor %}
			{% endfor %}
		{% endif %}
	{% endif %}

	{% if errors %}
		{% for error in errors %}
			<div class="ui error small message">
				<i class="close icon" onclick="closeError()"></i>
				{{error.message}}
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}

{% block mainpage %}
<div class="main ui container">
	
	<div class="ui three column grid" id="id-Streams">
		<div class="row">
			{% for follower in following %}
			{% if follower.is_live %}
			<div class="col">
				<div class="field">
					<a href="{% url 'dj-stream' follower.id%}"> {{follower.name}}</a>
				</div>
				<div class="field">
					<div class="ui small image">
						{% if follower.picture %}
                    	<img src="{% url 'photo' follower.id %}" width="100px" id="id_follower_picture_{{follower.id}}">
                    	{% else %}
                    	<img src="default.jpg" width="200px"  id="id_follower_picture_{{follower.id}}">
                    	{% endif %}
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
			
	
	<h2 class="ui dividing header">
			<label>Popular Streams</label>
	</h2>
	<h2 class="ui dividing header">
		<label>Currently Streaming</label>
	</h2>

	<div class="ui grid" id="currently-streaming-container"></div>
</div>
{% endblock %}