{% extends 'songshare/default_sidebar.html' %}
<!-- This is after login -->
{% block under-title-content %}
	{% if c_user.is_dj == False %}
		<div class="ui cards">
			<div class="card">
				<div class="content">
					<div class="header">New to Song Share and want to be a DJ?</div>
					<div class="description">
						<p>
							Song Share uses your Spotify account to make live changes to your 
							playback queue.
						</p>
						<p>
							Simply ensure you have spotify premium and use your 
							username to register.
						</p>
					</div>
				</div>
				<div class="ui bottom attached button" onclick="openModal('register-spotify')">
					<div class="" style="color: #1DB954;">
						<i class="spotify icon"></i>
						Register with Spotify
					</div>
				</div>
			</div>
		</div>
		
		{% if spotify_registration_form.errors %}
			{% for field in spotify_registration_form %}
				{% for error in field.errors %}
				<div class="ui error message">
					<i class="close icon" onclick="closeError()"></i>
					{{error}}
				</div>
				{% endfor %}
			{% endfor %}
		{% endif %}
	{% endif %}

	{% if errors %}
		{% for error in errors %}
			<div class="ui fluid error message">
				<i class="close icon" onclick="closeError()"></i>
				{{error.message}}
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}

{% block mainpage %}
<div class="main ui container">
	<h2 class="ui dividing header">
		<label>Live Follower Streams</label>
	</h2>
	
	<div class="ui three column grid" id="id-Streams">
		<div class="row">
			{% for follower in following %}
			{% if follower.is_live %}
			<div class="col">
				<div class="field">
					<a href="{% url 'dj-stream' follower.id%}"> {{follower.name}}</a>
				</div>
				<div class="field">
					<div class="ui small image">
						{% if follower.picture %}
                    	<img src="{% url 'photo' follower.id %}" width="100px" id="id_follower_picture_{{follower.id}}">
                    	{% else %}
                    	<img src="default.jpg" width="200px"  id="id_follower_picture_{{follower.id}}">
                    	{% endif %}
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
			
	
	<h2 class="ui dividing header">
			<label>Popular Streams</label>
	</h2>
	<div>
		<script>getPopular()</script>
		<table id="id_popular_streams">
		</table>
	</div>

	<h2 class="ui dividing header">
		<label>Currently Streaming</label>
	</h2>
	{% for stream in streams %}
	<div class="ui grid">
		<div class="four wide column">
			<div class="ui card">
				<div class="content">
					<span class="header" href="#">{{stream.name}}</span>
					{% if stream.dj.picture %}
					<img src="{% url 'photo' stream.dj.id %}"  style="height: 64px; width: 64px;">
					{% else %}
					<img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png"  style="height: 64px; width: 64px;">
					{% endif %}
					<br><br>
					<div class="meta">
						<span>Hosted by <a href="{% url 'profile-view' stream.dj.id %}">DJ {{stream.dj.user.username}}</a></span>
					</div>
					<div class="meta">
						<i class="users icon"></i>
						<span>{{stream.listeners.count}} listeners</span>
					</div>
					{% if not c_user == stream.dj %}
						{% if c_user in stream.listeners.all %}
							<a class="fluid positive ui button" href="{% url 'dj-stream' stream.dj.id %}">
								<i class="spotify icon"></i>
								Go To Stream
							</a>
						{% else %}
							<form method="POST" action="{% url 'join-stream' stream.dj.id %}">
								<button class="fluid positive ui button">
									<i class="spotify icon"></i>
									Join Stream
								</button>
								{% csrf_token %}
							</form>
						{% endif %}
					{% else %}
					<!-- maybe add something here for the DJ but not neccessary -->
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="ui modal register-spotify">
	<i class="close icon"></i>
	<div class="header">
		Register your account with spotify
	</div>
	<div class="register content">
		<div class="description">
		<div class="ui header">Song Share requires that you have a spotify premium account</div>
		<p>If you do not have a premium account, you may sign up for one <a href="https://www.spotify.com/us/premium/">here</a></p>
		<p>Enter your spotify username below and we'll handle the rest!</p>
		<p></p>
		</div>
		<form class="ui form" method="POST" action="{% url 'spotify-user-spotify' %}">
			<div class="six wide field">
				{{spotify_registration_form.spotify_email.label_tag}}
				<div class="ui left icon input">
					{{spotify_registration_form.spotify_email}}
					<i class="spotify icon"></i>
				</div>
			</div>
			<button class="ui positive right labeled icon button" type="submit">Register
				<i class="checkmark icon"></i>
			</button>
			{% csrf_token %}
		</form>
	</div>
</div>
{% endblock %}